<%= render :partial => "login/index" %>

<% if @user.errors.any? %>
There were error(s):<br/>
<ul>
<% for e in @user.errors.full_messages %>
<li><%= h e %></li>
<% end %>
</ul>
<% end %>

<table>
<%= form_for :user, :url => { :action=>"register" } do |f| %>
<tr><td>Pick a login name:</td><td> <%= f.text_field "login_name" %></td></tr>
<tr><td>Your first name:</td><td> <%= f.text_field "first_name" %></td></tr>
<tr><td>Your last name:</td><td> <%= f.text_field "last_name" %></td></tr>
<tr><td>Your eMail:</td><td> <%= f.text_field "email" %></td></tr>
<tr><td>Pick a password:</td><td> <%= f.password_field "password" %></td></tr>
<tr><td></td><td> <%= f.submit %></td></tr>
<% end %>
</table>
